canvas#glcanvas { 
	border: 1px solid #66666D; 
	background-color: #545469; 
}

body {
	color: #ffffff;
	background-color: #2d2e39;
	font-family: "Lucida Console", Lucida, monospace;
}


.guiBox {
	/*left: 30%;*/
	display: inline-block;
	position: absolute;
	left: 50%;
  	transform: translate(-50%);
	font-size: 18px;
	width: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*************************\ Custom checkboxes \*************************/

/* The container */
.container {
	display: inline-block;
	position: relative;
	font-size: 22px;
	margin: 0px;
	padding-right: 20px;
	padding-left: 35px;
	/*padding-bottom: 35px;*/
	font-size: 22px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container:last-child {
	padding-right: 0px;
}

#no-pointer {
	cursor: default;
}

/* Hide the browser's default checkbox */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #545469;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: #50d0c0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/*************************\ Custom slider \*************************/

.slidecontainer {
	vertical-align: top;
	position: relative;
	display: inline-block;
	margin: 0px;
	width: 40px;
}

.slider {
	-webkit-appearance: none;
	width: 220px;
	height: 25px;
	background: #545469;
	outline: none;
}


.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 50px;
	height: 25px;
	background: #50d0c0;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4CAF50;
	cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
	background: #ccc;
}

/*************************\ Change page button \*************************/

a {
  text-decoration: none;
  display: inline-block;
  padding: 4px 8px;
  margin-top: 5px;
  margin-bottom: 10px;
	font-size: 30px;
}

a:hover {
  background-color: #ccc;
  color: black;
}

.ChangePageButton {
  border-radius: 50%;
	background-color: #545469;
  color: white;
}
